<%= stylesheet_link_tag 'homes' %>

<div class="top_page">
  <div class="top_img">
    <h1>title</h1>
  </div>
  <div id="about" class="about_space">
    <div class="container">
      <h2 class="each_title">About Us</h2>
      <div class="about_contents">
        <div class="row">
          <div class="col img_area">
            <%= image_tag "shop_01.jpg", :width => "650", :height => "350" %>
          </div>
          <div class="col text_area">
            K-BRILLIANCEでは、高額すぎるネイル・時間がかかりすぎるネイル・いい加減な接客、粗悪な商材などは良しとしていません。<br>
            低価格の厳しい時代だからこそ本物を目指し、ネイルをやりたいお客様をできるだけ断らず受け入れる為、厳しい技術の基準を設け、短時間で、高技術のネイルをお手頃価格で提供できるように日々努力を続けています。
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu_area">
    <div class="container">
      <h2 class="each_title">Menu</h2>
      <div class="menu_content">

      </div>
    </div>
  </div>
  <div class="access_area">
    <div class="container">
      <h2 class="each_title">Access</h2>
      <div class="row">
        <div class="col img_area">
          <%= image_tag "shop_02.jpg", :width => "650", :height => "350" %>
        </div>
        <div class="col info_area">
          <h3>プライムワン　京都営業所</h3>
          <table>
            <tbody>
              <tr>
                <th>所在地</th>
                <td>〒615-0841<br>京都府京都市右京区西京極火打畑町4</td>
              </tr>
              <tr>
                <th>TEL</th>
                <td>075-874-3587</td>
              </tr>
              <tr>
                <th>FAX</th>
                <td>075-311-5420</td>
              </tr>
              <tr>
                <th>営業時間</th>
                <td>月～金曜日 / 9：00～17:00</td>
              </tr>
              <tr>
                <th>定休日</th>
                <td>土・日・祝日</td>
              </tr>
              <tr>
                <th>最寄駅</th>
                <td>JR嵯峨野線 八木駅</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="map_area">
        <!-- <div class="map-01" id='map-01'></div> -->
        <%= image_tag "sample_map.jpg", :width => "650", :height => "350" %>
      </div>
    </div>
  </div>
  <div class="reserve_area">
    <div class="container">
      <h2 class="each_title">Reserve</h2>
      <div class="form_btn">
        <%= link_to "Reserve", "#" %>
      </div>
      <div class="reserve_text">
        ご依頼・ご質問・お見積もりは<br>
        こちらまで
      </div>
    </div>
  </div>
</div>
